{% extends   'main/create.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/cloth.css' %}">
{% endblock %}
{% block title %}
Winter sports
{% endblock %}

{% block content %}
<div class="er">
    <div class="shapan">
        <h3>Саптама етік</h3>
        <img src="https://avatars.mds.yandex.net/i?id=8c5dcbc47990cb85340e107ce69057be-4054908-images-thumbs&n=13" alt="">
        <img src="https://avatars.mds.yandex.net/i?id=92344dd4a92921aea69b6953e05971f4-4866855-images-thumbs&n=13" alt="">
        <p> Ол, негізінен, қыс бойы далада қызметте болатын малшыларға, механизаторларға, аңшыларға қолайлы. <br>
            Саптама етік жылқының, сиырдың терісінен иленген былғарыдан, көннен тігіледі. Ол түзу табан және қисық <br>
            табан болып келеді. Оның өкшесі аласа, қонышы тізені жауып тұрарлықтай ұзын болады. Ал басының ойындысын <br>
            қонышының ойындысына дәл келтіріп, тігісін ішіне қаратып қос тарамыспен тігеді. Басын қондырған соң оның <br>
            қонышын қусырады. Етіктің қонышын қусырғанда етік жылы әрі берік болу үшін тігістің арасына жіңішке былғары <br>
            таспалан сыздық салып, қос тарамыспен жиі етіп тігеді. Етіктің басы қондырылып, қонышы қусырылып болғаннан <br>
            кейін етікті қалыпқа тартады. Ол үшін ең алдымен қалыпқа өлшеп жұқа былғарыдан іштік немесе ішкі ұлтан қиып <br>
            алып, оны ағаш шеге мен қалыптық табанына бірнеше жерден шегелеп бекітеді. Етік басының сіріөкше деп аталатын <br>
            бөлігіне жұқа былғарыдан астар салып, екі арасына қайыңның тозынан не қатты сірілен қос астар салып, қабаттал <br>
            қайып тігеді. Бұдан соң етіктің басын қалыпқа кигізіл, жіңішке тарамыспен оның шетін іштікке айналдыра көктейді. <br>
            Етіктің табанына суық (ызғар) өтпеу үшін ішкі ұлтан мен сыртқы ұлтанның арасына бірнеше қабат көн салады. Қос <br>
            ұлтан салынып болған соң сыртқы ұлтанды шегелейді. Ұлтан қопарылмау үшін етіктің үзеңгілігіне дейінгі бөлігіне<br>
            шеге екі қатар қағылады да үзеңгілігінің тұсынан бастап өкшесіне дейін бір-ақ қатар қағылады. Саптама етіктің <br>
            өкшесі аласа болады. Өкше тозбау үшін оған нәл қағады. Саптама етікті әдетте кең етіп тігеді. </p>
    </div>
    <br>
    <div class="takia">
        <h3 class="tak">Байпақ</h3>

        <p> Байпақ - биязы, жұмсақ жүннен тоқылып немесе киізден басылып жасалатын, етіктің ішінен киетін, жылу<br> сақтайтын
            аяқкиім. Саптама етіктің ішінен киілетін ақ киізден жасалған байпақ қыстың суық, боранды күндерінде<br> алыс жолға
            шыққанда киіледі. Қыста киетін байпақтың киізі қалың жазда киетін байпақтың киізі жұқа болады. Жасалу<br>  тәсілі.
            Байпақ тігудің екі тәсілі бар: табанын бөлек салып ұлтарып тігу, тұтастай қусырып тігу. Жүннен тоқылатын<br>  байпақтардың
            қонышы қысқа болады. Аяққа батпас үшін тігісі сыртынан түседі. Ел арасында байпақтың іш байпақ, сырма<br>  байпақ, мәсі
            байпақ, байпақ етік, киіз байпақ, шәркелі байпақ сияқты түрлері мен атаулары кездеседі. Мәселен, киіз байпақ<br> - киізден
            жасалған, етік ішінен киілетін байпақ; шәркелі байпақ - ішінен байпақ киілетін көннен тігілген шәркей; байпақ<br> етік - жүннен
            басылған аяқкиім, пима т.б. Байпақ басу: Байпақ басудың өзіндік тәсілі болған. Ол үшін майдалап түткен жүн<br> сиректеле шиге
            жайылып, үстінен ыстық су құйып, жүннің қопсуын басады да, жалаңаш білекпен ысқылап пісіреді.<br> Бұған нағыз шеберлік керек.
            Нобаймен ысқыланса, кеуегі бітеліп, жүн жабысып қалады. Сондықтан әр қимыл мұқият<br> жасалып, жасау әдісінен ауытқымау керек.
            Байпақ басу ісі дамып жетіліп, пима басу кәсіпшілігіне ұласқан. Балаларға<br>
            аяғына шақтап, кішкене етіп, тысы мен ішкілігін  матадан салып, жүн, түбіт тігеді.
          </p>
         <img src="https://avatars.mds.yandex.net/i?id=467c6ac9f460689b984d4e0878761277-5507247-images-thumbs&n=13" alt="">
        <img src="https://avatars.mds.yandex.net/i?id=8e448a3a592ab0bfc0ed8d80c46f72d4-5233259-images-thumbs&n=13" alt="">
    </div>
    <br>

    <div class="borik">
        <h3>Кебіс</h3>
        <img src="https://avatars.mds.yandex.net/i?id=51ac63c4b3822a38df79966fe6856650-5291510-images-thumbs&n=13" alt="">
        <img src="https://avatars.mds.yandex.net/i?id=f26c6d3f3be8d6ce31c1d276bf497139-5588720-images-thumbs&n=13" alt="">
        <p>
            Кебіс – мәсінің сыртынан киюге арналған, былғарыдан тігілген қонышсыз аяқ киім. Тігілуіне,<br>  жайпақтығына қарай
            көксауыр кебіс, шоңқайма кебіс, шекшек кебіс деп атаған. Жайпақ кебісті ер адамдар киген.<br>  Көксауыр, шоңқайма,
            шекшегібар кебістерді қыз-келіншектер киетін болған. Бұрын кебісті галош орнына киген. Басын<br> жұмсақ қара былғарыдан,
            табанын қатты ұлтаннан жасаған, биік өкше етіп тіккен. Оны оюлармен әшекейлеп, шажамайы<br> мен өкше сірісін, тұмсығын
            сыздықтап күміс, зер жіппен әдіптеген. Кебістің қарт кісілерге арналған шолақ қонышты<br> жайтабан, кең ауыз деп аталатын
            түрлері де бар. Ер адамдарға арналған кебісті көннен немесе қалың былғарыдан түзу табан<br> етіп тігеді, өкшесі биік
            болмайды. Әдетте, еркек етіктері мен кебістерінің өкшесіне темірден нәл қағады. Әйелдерге<br> арналған кебістер түрлі түсті
            жұқа былғарыдан тігіліп, биік өкше қағылады, әрі түрлі жібек жіптермен кестеленіп<br> көркемделеді. Мұндай әсем кебісті
            ұзатылатын қыздарға арнап жасататын болған. Кебісті, әдетте, ерлер де, әйелдер де<br> мәсімен киеді. 20 ғасырдың 2-жартысынан
            бастап кебістің түр-сипаты өзгере бастады. Өкшесіне бірнеше қабат ұлтан<br> салынып, шегеленетін,
            тұмсығы домалақтау етіп  жасалатын болды.
        </p>
    </div>
    <br>
    <div class="kalpak">
        <h3 class="tak">Көк сауыр</h3>
        <p> Көксауыр етік – малдың сауыр терісенен өңделген былғарыдан<br> сәндер тіккен  аяқкиім түрі. Көксауыр – жақсылапиленген көкке,
            кейде жасылға, қызылға қандыра бояған<br> өте сапалы былғары. Көк сауырмен көбіне кебісті тігіп, әшекейлейді. Ондай кебістерді
            «көк сауыр кебіс», «көк ала» кебіс деп<br> атайды. Көк сауыр етікке әртүрлі ою-өрнек бастырады.Осындай материалдан тігілген
            кебіс те көкше кебіс немесе көксауыр<br> кебіс деп аталады. «Кигені Айман қыздың көкше кебіс».  Көк етіктіңқонышы, күшіні оюланып,
            кестеленіп тігіледі.<br> Ертеде көк етікті көбінесе сал-серілер, батырлар киген. «Көк етікті кез келмей, көн етіктіге бармай
            отырған қыз»<br> деген сөз көк етіктің кімдерге лайық екенін аңғартады. Қызыл – етік қызыл түсті былғары етік. Қоңыраулы етік –
            өкшесі <br>қоңыраушылармен әшекейленген етік, сауыр көк жасыл  былғары етік,сармантай – қонышы тізеден жоғары  келетін сәнді етік,
            <br>жібек етік – жібектен тігілмеген, бірақ қонышы жібекпен кестеленген сәнді етік. Әміркен деп жергілікті<br> тілде  сырлы былғарыны
            айтқан. Соған орай қатты жылтырап тұратын
            әміркен етік, әміркен мәсі, әміркен кебіс аталатын <br> аяқкиімдер тігілгенматериалына байланысты айтылған.
        </p>
        <img src="https://avatars.mds.yandex.net/i?id=75f3f327e100f903202850ca96ecc4cb-5875863-images-thumbs&n=13" alt="">
        <img src="https://avatars.mds.yandex.net/i?id=5d7086ef653885add722ca615e271bd4-4949370-images-thumbs&n=13" alt="">
    </div>
</div>


{% endblock %}