{% extends   'main/create.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/food.css' %}">
{% endblock %}
{% block title %}
National Food
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <img src="{% static 'main/img/127.jpg' %}" >
      <h1>Бауырсақ</h1>
    <p>Бауырсақ – қазақтың ұлттық тағамы. Біз бауырсақсыз жайылған дастарханды көз алдымызға елестете алмаймыз.
    Той-томалақтарда бауырсақ пісіріп, дастарханымыздың сәнін келтіреміз. Наурыз мейрамы әлі де тойланып жатыр.
    Жылдың жаңаруын бір ай тойлайтынымызды есепке алып, әлі де бауырсақтың түр-түрін пісіріп көруіңізге болады.
    </p>
 </div>
    <div class="col">
       <img src="{% static 'main/img/128.jpg' %}" >
      <h1>Таба нан</h1>
    <p>Табанан – Орта Азия мен Қазақстан халықтарының қолдан жасалған тары торты. Бұрын олар тандырда пісірілген,
    енді олар ескі рецепт бойынша пісіріледі. енді оларды пеште пісіруге болады. </p>
    </div>
     <div class="col">
     <img src="{% static 'main/img/129.jpg' %}" >
      <h1>Шелпек</h1>
    <p>Шелпек – қызған майға қуырылған дөңгелек шелпек. Торттар қарапайым ингредиенттерден жасалған.
    Ежелгі уақыттан бері өнімдер жиынтығы көп өзгерген жоқ. Әртүрлі аймақтарда торттарды суда, айранда пісіреді.
     Ең қарапайым және кең таралған рецепт - сүт қосылған торт. </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <img src="{% static 'main/img/130.jpg' %}" >
      <h1>Салма</h1>
    <p>Салма – қазақтың дәстүрлі тағамы. Ол денеге оңай сіңеді, бірақ калориялық мазмұнда ерекшеленеді.
      Егер сіз рецепт бойынша жүрсеңіз, оны үйде жасау оңай. Жыл сайын Қазақстанда «Тойқазан» ұлттық тағамдарының фестивалі өтеді.
      Ол елдегі ең жақсы аспаздардың басын қосады. Аспаздар бауырсақ, бешбармақ және басқа да аспаздық өнімдерді, соның ішінде
      салманы дайындауда жарысады.  </p>
    </div>
    <div class="col">
      <img src="{% static 'main/img/131.jpg' %}" >
      <h1>Быламық</h1>
    <p>Быламық негізінен жас босанған әйелдерге берілетін тағам. Адам бойына біткен бала калциді анасынан алады. Сондықтан жаңа
    босанған әйелдің тісі босап, сүйектері сынғыш келеді. Біздің көреген әжелеріміз келіндеріне быламық пісіріп беру арқылы,
    осындай әлсіздіктердің алдын алған.Быламықтың дайындалу тәсілі: отқа қыздырылған қазанға құйрық май немесе сары майды салып
    ерітеміз. Оның үстіне ұнды сеуіп, түсі сарғайғанға дейін қуырылады.Бәсең отта ұн біркелкі қуырылуы керек. Ұн сарғыш қоңыр түске
    енген кезде сүт қосылады. Быламық іртік болмас үшін сүтті үздіксіз былғап тұрып құямыз.</p>
    </div>
    <div class="col">
  <img src="{% static 'main/img/132.jpg' %}" >
      <h1>Қаттама</h1>
    <p>Май, жұмыртқа, сүт құйып, қатты етіп иленген қамырлы жұқалап жайып, жайманың бетіне май жағалы, оны қайта рулон етіп орап,
    пышақпен бірнешеге бөліп, әр бөлікті қайтадан жанды. Тәрелкенің үлкендігіндей жайылған нан қазанда қыздырылған майға пісіріледі.
     Сонда шелпек қатпар-қатпар болып өте дәмді болып ттіседі. Кейде мұндай қаттаманы қазанға май жағыл қарма тәрізді етіп пісіруге
     де болады. 1 кг ұн, 1 шай қасық тұз, 150 г май, 1 стакан сүт, 2 жұмыртқа қажет.
</p>
  </div>
</div>
{% endblock %}