{% extends   'main/create.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/food.css' %}">
{% endblock %}
{% block title %}
National Food
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <img src="{% static 'main/img/115.jpg' %}" >
      <h1>Бешбармақ</h1>
    <p> Бұл біздің ұлттық тағам. Ең жаңа етпен дайындалған, дәстүрлі түрде оңтүстікте бұл тағамға
      қамырдың жалпақ жұқа табақтары болып табылатын ең нәзік жұқа кеспе беріледі. Қызылорда облысында
      сіз жіңішке кеспенің орнына күріш қосылған тағамның ерекше және ерекше түріне кезігесіз.</p>
    </div>
    <div class="col">
       <img src="{% static 'main/img/116.jpg' %}" >
      <h1>Қазы</h1>
    <p>Екі жақтағы қабырғалар сүбессімен алынып, бір-бір қабырғадан қосып "шылбырлап" тілінеді.
      Жылқының семіздігі қазы майының қалыңдығымен өлшенеді. Шынтақ, бір елі екі елі,
      ең семізі - табан, ішекке сыймағандықтан, тілген күйінде сақталатыны "дөңбес қазы" деп аталады </p>
    </div>
     <div class="col">
     <img src="{% static 'main/img/117.jpg' %}" >
      <h1>Қуырдақ</h1>
    <p>Қуырдақ — жаңа сойылған малдың өкпе—бауырынан, мойын, төстік етінен, жүрек, бүйрегінен, сондай-ақ
      ішек-қарнынан ұсақтан турап әзірленетін тағам. Ол үшін қазанға іш майды немесе құйрық майды
      турап салып шыжғырып алады да, алдымен үстіне туралған өкпе, жүректі, ішек-қарынды, мойын, төстік
      еттерін салып, қазанның отын қатты жағып 15—20 минут қуырады. </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <img src="{% static 'main/img/118.jpg' %}" >
      <h1>Нарын</h1>
    <p>Қазақтың нары – танымал мерекелік ұлттық тағам, қазақ асханасында маңыздылығы жағынан Орта Азияның әйгілі палауымен
      бәсекелеседі. Қазақтың кеспесі бар нарыны күні бүгінге дейін өзінің бастапқы атауын сақтап, негізінен Шымкент
      асханасында бар. Ет ретінде әдетте жылқы еті пайдаланылады, оны Нарынға қосылатын қазы шұжығы деликатес дайындауға
      да пайдаланады. Қазақ нарынында ерекше әдіспен дайындалған кеспе етке қарағанда сандық жағынан басым. </p>
    </div>
    <div class="col">
      <img src="{% static 'main/img/119.jpg' %}" >
      <h1>Бұқтырма</h1>
    <p>Ет пен пиязды қуырып,тұз салып жай отқа әбден пісіресіз де үстіне су құйып  тәтті бұрыштың бірнешеуін
      екіге бөліп саламыз сосын картошканы дана дана етіп дөңгелек күйінше бетіне орналастырамыз да ең жоғары
      бетін орамжапырақпен жауып тастаймыз.Біраз уақыттан соң картошканы түртіп көреміз жұмсарса бәрінің піскені.

</p>
    </div>
    <div class="col">
  <img src="{% static 'main/img/120.jpg' %}" >
      <h1>Түймеш </h1>
    <p>Қамыр илеп, иі қанғанша, жауып қоямыз. Ет қатпаған болса, сәл қатырып алған жақсы. Сонда жұқа
      тілімдерге кесу ыңғайлы болады. Жұқа ет тілімдерін асүйлік балғамен жұп-жұқа болғанша жаншимыз.
      Әр келесі тілімді жаншылған еттің үстіне қойып ұрғылаймыз. Сонда астындағы тілімдер езіліп, майдалана бастайды.
      Пиязды және жалды ұсақтап тураймыз. Талқан, тұз және бұрышты саламыз. Араластырамыз. Қамырды жайма сияқты жайып,
      төртбұрыштап кесіп шығамыз. Әр бөлікке 1 шай қасық еттен салып, түймештерімізді түйіп шығамыз.
</p>
  </div>
</div>
{% endblock %}