{% extends   'main/create.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/cloth.css' %}">
{% endblock %}
{% block title %}
News update
{% endblock %}
{% block content %}
<div class="er">
    <div class="shapan">
        <h3>Шапан</h3>
        <img src="https://avatars.mds.yandex.net/i?id=dc52d09d80e20256f5fdb500ba3f6415-5875611-images-thumbs&n=13" alt="">
        <img src="https://avatars.mds.yandex.net/i?id=83ec51cb5be36e7bf9a433f23c8c213b-5709479-images-thumbs&n=13" alt="">
        <p> Шапан — қазақтын ежелгі әрі кәделі киімі. Ол Қазақстан мен Орта Азия халықтарының<br>
            ұлттық киімі болып табылады.  Оны қалың матадан арасына жүн, мақта салып, астарлан<br>
            немесе қос астарлан сырып тігеді.  Ол негізінен тік жағалы, ішінара қайырма жағалы да <br>
            болады. Шапан: сырмалы шалан, қаптал шапан, қималы шапан деп бөлінеді. Қыз-келіншектерге<br>
            арналған қималы шапанды түрлі-түсті масатыдай тігіп, жаға-жеңіне, етегі мен  екі өңіріне<br>
            зер ұстайды. Түйме орнына асыл тастар орнатылған күміс қапсырма (ілгек) тағады.</p>
    </div>
    <br>
    <div class="takia">
        <h3 class="tak">Тақия</h3>

        <p> Тақия – ерлердің жеңіл бас киімі. Тақияның түрлері көп. Биік төбелі, тегіс төбелі және <br>
            үшкір төбелі тақия. Ерлер киетін тақияда теңге, моншақ, тана болмайды. Оның есесіне олар<br>
            «мүйіз», «ат ерін», «шырмауық»  сияқты өрнектермен кестеленеді, машинамен, қолмен «таңдай», <br>
            «ирек», қабырға тігістерімен әдеміле ніл сырылады. Тақияны пүліштен, қыжымнан ал астарын<br>
            жібек, сәтеннен тігеді. Биік төбелі тақия мен тегіс төбелі тақияның тігілуі  бірдей.<br>
            Ал үшкір төбелі тақияны тіккенде оның етегін жалпақтығын үш елідей етіп тік төрт бұрыш<br>
            етіп қиып алады. Оның  төбесі үш бұрыш формалы төрт не алты сайлан құралады. Алдымен оларды <br>
            тігісін ішіне қаратып құрайды да, одан соң сайлардың етегін тақияның етегіне қондырады. <br>
            Тақия мыжылмай өз формасын сақтап тұру үшін оның астары  мен қос астарын беттестіріп<br>
            жиі етіп сыриды. Одан кейін тысын жауып, шетін басқа түсті матамен әдіптен көмкереді. <br>
            Сайлардың және тақияның төбесі мен етегінің қоспа тігістері білінбеу үшін сол тігістерді <br>
         </p>
         <img src="https://avatars.mds.yandex.net/i?id=b458625a3fa6fa857465fdd62f7833ab-4777142-images-thumbs&n=13" alt="">
        <img src="https://avatars.mds.yandex.net/i?id=823d30da3aa913830b931c681fc81e13-5889206-images-thumbs&n=13" alt="">
    </div>
    <br>
    <!-- <div class="saukele">
        <img src="https://avatars.mds.yandex.net/i?id=2a0000017a11638d0dde9d0677de8e99eece-4471643-images-thumbs&n=13" alt="">
        <img src="https://avatars.mds.yandex.net/i?id=ef76eacf008a4442077cd803959fc3ec-3084551-images-thumbs&n=13" alt="">
    </div> -->
    <div class="borik">
        <h3>Бөрік</h3>
        <img src="https://avatars.mds.yandex.net/i?id=86fcafa2397dee26061ddba9a44600cc-4253558-images-thumbs&n=13" alt="">
        <img src="https://avatars.mds.yandex.net/i?id=8707a93719ba8428ca1f3106677145f7-4552023-images-thumbs&n=13" alt="">
        <p> Бөрік – қазақтың ертеден қалыптасқан ұлттық бас киімі, оны бағалы аң терісінен және жас<br>
            төлдің елтірісінен тігеді.  Оның жаздық және қыстық түрлері болады. Терінің түріне қарай <br>
            бөрік әр алуан аталады. Құндыз бөрік,  сусар бөрік, кәмшат бөрік, жанат бөрік, түлкі<br>
            бөрік, елтірі бөрік, т. б. деп аталады. Оны ерлер де, қыздар да киеді. Бөріктің төбесі <br>
            көбінесе алты сай (қиық), төрт сай болып келеді. Оны тіккенде алдымен өлшеп алып, жұқа<br>
            киізден төрт  не алты сай етіп пішеді. Әр сайдың төбеде түйісетін ұштары үш бұрыш тәрізді,<br>
            етек жақтары тік төрт бұрыш болады.  Осы қиындылардың бір бетіне шүберектей астар, екі арасына <br>
            жұқа матадан бидай шүберек салып, жиі етіп сыриды. Одан соң жеке-жеке сайларды біріне-бірін <br>
            өбістіріп ішінен де, сыртынан да жермен тігеді.  Оның сыртын асыл матамен (барқыт, пүліш,<br>
            қамқа, т. б.) болады. Бөріктің іші сай болса, оның тысы да сонша сай болады. Бұдан кейін <br>
            бөріктің төбесінің етегін жай матамен астарлан тігеді де төменгі жағын төрт  елідей терімен<br>
            (қылшығын сыртына қаратып) көмкереді. Бұрын қыздар киетін төбесіне үкі, жібек шашақ тағын, <br>
            зер жіппен, жібек жіппен кестелеген, меруерт, маржан тізбелер,  алтын, күміс түйме қадаған.<br>
            Кейде бөріктің етегін жауып тұратындай етіп айналдыра зер не жібек шаш ақтар ұстаған. <br>
            Бөрікті қазақ халқы сияқты қарақалпақ, қырғыз, башқұрт, татар, ұйғыр т. б. халықтар да киеді.</p>
    </div>
    <br>
    <div class="kalpak">
        <h3 class="tak">Айыр қалпақ</h3>
        <p> Айыр қалпақ - ақ қозының күзем жүнінен жұқа етіп басылған киізден жасалып, матамен әдіптелген,<br>
            қайырма етегінің алды-арты жырық келетін, төбесі төрт сай болып тігілген, тысы түсті барқытпен <br>
            көмкерілген баскиімнің түрі. Әдібі көбіне барқыт, шибарқыт, шуға немесе қара пүлістен жасалады. <br>
            Айыр қалпақтың қайырма етегі мен төбесі зермен кестеленген, түрлі түсті жібек матамен тысталған, <br>
            сондай-ақ, ою-орнек салынған түрлері бар. Оған кейде төбеден тогілдіре шашақты маржан тағылады. <br>
            Қайырма етегінің алды-арты жырық болғандықтан айыр қалпақтың деп аталған. Айыр қалпақ шибарқыт, <br>
            шуға сияқты матадап да сырылып та жасалады. Ертеде айыр қалпақтың материалы и күзем жүннен түбіт <br>
            қосып жұқа етіп бастырып, киіздем дайындайды. Айыр қалпаққа ұқсайтын, қайырмасы (түрмесі) бітеу келген, <br>
            дәстүрлі қазақ коғамында биік мәртебелі хан, сұлтандар киетін ғұрыптық баскиім түрі мұрақтың пошымы.
        </p>
        <img src="https://avatars.mds.yandex.net/i?id=f10f8cd0056cf75f929a42f09f5f7deb-5865722-images-thumbs&n=13" alt="">
        <img src="https://avatars.mds.yandex.net/i?id=2a0000017a0ba60252e329ee47d85a28ca5a-4079989-images-thumbs&n=13" alt="">
    </div>
</div>


{% endblock %}