{% extends   'main/create.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/winter.css' %}">
{% endblock %}
{% block title %}
National  sports
{% endblock %}

{% block content %}
  <div class="container">
        <h1 >Қазақстанның ұлттық ойындары </h1>
        <div class="Information">
            <div>
                <p style="text-align: center;margin-top: 20px;font-size: 36px;">Қазақ спортының қалыптасу тарихы</p>
            <P style="margin-left:40px;">Қазақ  жерінде спорттың алғашқы белгілері 7 ғасырда пайда болды деген болжамды Араб халифатының Орта Азия елдеріне ислам дiнiн уағыздаумен қатар, шахматты  тарату мен дамуына ықпал еткеніне қарап отырып, айта аламыз. Көне заманнан бастап, халқымыз садақ тарту, бәйге, күрес, сайыс сияқты көптеген спорт түрлерімен айналысып, өздерінің рухани байлықтарын толықтырып отырған. Ата-бабаларымыз әрдайым ұлттық спорт түрлерін, дене жаттығуларын жетілдіріп, оларды кейінгі ұрпаққа насихаттаған. Әр елдің, жүз бен болыстың өз батыры, балуаны мен аты шыққан мықты спортшысы, мергені болатын. Олар өз руының намысын қорғап, қарсыласын жеңу үшін барлық күштерін аямайты </P>
            </div>
                <div >
                    <img src="{% static 'main/img/110.jpg' %}" >
                  </div>

        </div>
<div class="row">
            <div class="col">
                <div class="block">
                    <img src="{% static 'main/img/111.jpg' %}" >
                    <div class="block_text_1">
                        <div class="block_title">Көкпар</div>
                        <div class="block_text"> Көкпар жігіттердің күш-жігерін, төзімділігін, батылдығы мен ептілігін, ат үстінде мығым отыруын қалыптастырады. Сонымен қатар Көкпар – аттың қалай бапталып үйретілгенін, жүйріктігін де сынайтын спорт. </div>
                    </div>

                </div>
                <div class="block">
                    <img src="{% static 'main/img/112.jpg' %}" >
                    <div class="block_text_1">
                        <div class="block_title">Теңге ілу</div>
                        <div class="block_text"> Теңге ілу – бозбалалар мен жігіттердің атпен ойнайтын ойыны. Көбіне қыз ұзатылатын және сүндет тойларының думанында ойналады. Жігіттің атқа мықтылығы, ат үстіндегі самдағай әрекеті, денесін игеріп, билеп алған ептілігі сынға салынады. </div>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="block">
                <img src="{% static 'main/img/113.jpg' %}" >
                    <div class="block_text_1">
                        <div class="block_title">Аударыспақ</div>
                        <div class="block_text">Аударыспақ – салт аттылардың бірін-бірі ер үстінен аударып алу сайысы. Бұл ойынға қайрат-күші мол, батыл да төзімді, шапшаң қимылдап, ат құлағында ойнай білетін жігіттер қатысады. </div>
                    </div>
                </div>
                <div class="block">
                   <img src="{% static 'main/img/114.jpg' %}" >
                    <div class="block_text_1">
                        <div class="block_title">Қазақ күресі</div>
                        <div class="block_text">Қазақ күресі — қазақтың ұлттық күресі. Қазақ күресі қазақтардың ең көне спорт түрлерінің бірі. Қазіргі Қазақстанда бұл жекпе-жек өнер үлкен сұранысқа ие, ал қазақ күресі бойынша жарыстар мерекелер мен салтанаттарда жүргізіледі.</div>
                    </div>
                    </div>
</div>
        </div>
     {% endblock %}