{% extends   'main/create.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/food.css' %}">
{% endblock %}
{% block title %}
National Food
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <img src="{% static 'main/img/121.jpg' %}" >
      <h1>Қаймақ.</h1>
    <p> Қой-ешкінің, сиырдың сүтін қазанға не алюминийден жасалған ыдысқа құйып, баяу отқа қояды. Сүттің буы шығып,
      шымырлап қайнай бастаған кезде тасып кетпес үшін біраз сапыру қажет. Содан кейін жарты сағат оттың табына қойып
      барып суытады. Төрт-бес сағат тұрған соң, сүттің бетіне сап-сары қаймақ  түседі. </p>
    </div>
    <div class="col">
       <img src="{% static 'main/img/122.jpg' %}" >
      <h1>Құрт</h1>
    <p>Құрт – малдың сүтінен дайындалатын ұзақ уақыт сақтауға арналған тағам. Сабаға сүтті жинап, сүт ашығаннан кейін піседі,
      сүт іркітке айланып, майы бетіне қалқып шығады. Майын бөлек алып тұздап қарынға салады да, іркітті қазанға суы сарқылғанша
      қайнатады. Құрт қайнап жатқан кезде қазанның түбін, ернеуін қырып, әлсін-әлсін араластырып отырады.  </p>
    </div>
     <div class="col">
     <img src="{% static 'main/img/123.jpg' %}" >
      <h1>Қымыз</h1>
    <p>Қымыз – қазақ халқының ұлттық тағамдарының ішіндегі ең құрметтісі. Ол тек қана бие сүтімен ашытылады. Әдетте сауылатын биелер:
      сақа бие, құлын бие, қыран бие деп үшке бөледі. Сақа бие – бірнеше рет құлындаған, бұрыннан сауылып келген бие. Құлын бие –
      құнажын немесе дөнен жасында алғаш құлындаған бие. </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <img src="{% static 'main/img/124.jpg' %}" >
      <h1>Cары май</h1>
    <p>Май - сүтті құрамдастардан (май мен ақуыз) жасалған өнім. Сиырдың сүтінен көбінесе сары май, қойлар,
      ешкілер, буфало немесе басқа сүтқоректілерден сүт шығаруға болады. Майы әдетте 80 пайызға жуық май,
      15 пайыз су және 5 пайыз ақуыздан тұрады. Сары майдағы ақуыздың аз мөлшері су мен майдың бір фазалық ерітіндіде
      тоқтатыла алатын эмульгатор ретінде әрекет етеді.  </p>
    </div>
    <div class="col">
      <img src="{% static 'main/img/125.jpg' %}" >
      <h1>Ірімшік</h1>
    <p>Ірімшік — сүтті арнайы өңдеуден өткізу арқылы алынатын жоғары калориялы неғұрлым сіңімді тағамдық өнімдерінің бірі .
      Әзірлеу және пісіру кезінде ол микробиологиялық, ферментативтік тағы басқа процестерден өтеді, соның нәтижесінде,
      дайын өнім сүтпен салыстырғанда дәмі және нәрлілігі жағынан едәуір құнды қасиеттерге ие болады. Ірімшік сиырдың,
      қойдың және ешкінің сүтінен жасалады.
</p>
    </div>
    <div class="col">
  <img src="{% static 'main/img/126.jpg' %}" >
      <h1>Сүзбе </h1>
    <p>Сүзбе — айраннан, ашыған сүттен әзірленетін тағам.Сүзбенi айраннан әзiрлейдi. Ол үшiн айранды кенептi қапшыққа құяды да,
      одан ағызады. Қалған қою масса сүзбе болып табылады. Одан кейiн сүзбеге кiшкене тұз салады. Қазақ халқы сүзбеден құрт жасайды.
      Кейбiреулер мұны қатық деп атайды. Сүзбеден қазақтар құрт жасап, оны ет тағамдарына астатым ретiнде қосып пайдаланады,
      тың түрiнде де қолданады.
</p>
  </div>
</div>
{% endblock %}