{% extends   'main/create.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/winter.css' %}">
{% endblock %}
{% block title %}
Winter sports
{% endblock %}
{% block content %}
  <div class="container">
        <h1 >Қазақстанда  қысқы спорт ойындары </h1>
        <div class="Information">
            <div>
                <p style="text-align: center;margin-top: 20px;font-size: 36px;">Қысқы Олимпиададағы Тәуелсіз Қазақстан</p>
            <P style="margin-left:40px;">Иә, қазақстандық спортшылар алғаш рет Тәуелсіз Қазақ елі болып 1994 жылы Лиллехамерде (Норвегия) өткен қысқы Олимпиада ойындарына барды. Спортсүйер қауым үшін айта кетер бір жәйт, Альвербиль мен Лиллехамердегі Олимпиада ойындарының арасы 2 жыл ғана уақытты құрады. Оған дейін 4 жыл сайын ұйымдастырылып келген еді. Оның себебі де бар. ХОК қысқы Олимпиада мен жазғы Олимпиада ойындарының бір жылда өтуін тиімді санамай, ара алшақтығын екі жылға ұзартты. Бұл шешім комитет пен спорт жанкүйерлері үшін де тиімді болды деп айтуға толықтай негіз бар. </P>
            <P style="margin-left:40px;">Қош, сонымен Лиллехамердегі Олимпиада ойындарында Қазақстан құрамасы 1 алтын, 2 күміс медаль жеңіп алды. Үш жүлдені де шаңғышы Владимир Смирнов иеленді. Қазақстан жалпыкомандалық есепте 12-орын алды. Бұдан кейін бұл жетістік қайталанбады. Өзге жүлделер бұйырғанмен, алтын бұйырмай келеді </P>
            </div>
                <div >
                    <img src="{% static 'main/img/105.jpg' %}" >
                  </div>

        </div>
<div class="row">
            <div class="col">
                <div class="block">
                    <img src="{% static 'main/img/100.jpg' %}" >
                    <div class="block_text_1">
                        <div class="block_title">Шаңғы спорты</div>
                        <div class="block_text">Шаңғы спорты – қысқы спорт түрлері негізгілерінің бірі.Шаңғы спортынан жаттығулар мен жарыстар ашық аспан астында, таза ауада өтетін болғандықтан адамның денсаулығына өте пайдалы.Шаңғы спортымен айналысу кезінде адамның барлық дене мүшелері жұмыс істейді. </div>
                    </div>

                </div>
                <div class="block">
                    <img src="{% static 'main/img/101.jpg' %}" >
                    <div class="block_text_1">
                        <div class="block_title">Шорт-трек</div>
                        <div class="block_text"> Еліміздің атын Әлемге танытатын, мықты спортшылар шығару үшін оларды алдымен, спортқа деген қызығушылығын оятып, спортқа баулып, ақылды, білімді, еңбекқор болуға үйрету, тәрбиелеу ол сіз бен біздің міндетіміз. </div>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="block">
                <img src="{% static 'main/img/102.jpg' %}" >
                    <div class="block_text_1">
                        <div class="block_title">Мәнерлеп сырғанау</div>
                        <div class="block_text">Спорттың бұл түріне баланы 7-8 жастан баули бастайды. Мәнерлеп сырғанаудан әлем чемпионаты 1896 жылдан бастап өтіп келеді. Әуелі жарыс тек қана ерлер арасында өтсе, он жылдан кейін әйелдер де күш сынаса бастады. 1908 жылы жұптасып сырғанаудан, 1950 жылы мұз үстіндегі бишілер бәсекесі ұйымдастырыла бастады. </div>
                    </div>
                </div>
                <div class="block">
                   <img src="{% static 'main/img/103.jpg' %}" >
                    <div class="block_text_1">
                        <div class="block_title">Фристайл</div>
                        <div class="block_text">Қазақстандық спортшылар фристайлдың могул және акробатика сындары бойынша жарыс жолына шығады. Могулда Юлия Галышева, Дмитрий Рейхерд, Павел Колмаков, Аяулым Әміренова жүлдеге таласса, Жанбота Алдабергенова, Ақмаржан Қалмұрзаева, Маржан Ақжігіт акробатика сынында бақ сынайды.</div>
                    </div>
                    </div>
</div>
        </div>
        <H2>Спорт бойынша медальдар</H2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Ойындар</th>
                <th scope="col">Алтын</th>
                <th scope="col">Күміс</th>
                <th scope="col">Қола</th>
                <td>Барлығы</td>
              </tr>
            </thead>
            <tbody>
            {%for i in sport%}
              <tr>
                  <td>
                      {{i.name}}
                  </td>
                  <td>
                      {{i.gold}}
                  </td>
                  <td>
                      {{i.silver}}
                  </td>
                  <td>
                      {{i.bronze}}
                  </td>
                  <td>
                      {{i.overall}}
                  </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>

{% endblock %}