{% extends   'main/create.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/cloth.css' %}">
{% endblock %}
{% block title %}
Winter sports
{% endblock %}

{% block content %}
<div class="er">
    <div class="shapan">
        <h3>Сәукеле</h3>
        <img src="https://avatars.mds.yandex.net/i?id=2a0000017a115ad6e316e70a6395feb552b4-4011431-images-thumbs&n=13" alt="">
        <img src="https://avatars.mds.yandex.net/i?id=5a56f48849ebdc200ee8e5d6270b8f80-5378083-images-thumbs&n=13" alt="">
        <p> Сәукеленің негізгі бөліктері — тәж, төбе, құлақбау және артқы бойы. Сәукеленің төбесі қиық конус <br>
            тәрізді болып келеді. Оның төбесінде «Тәж» деп аталатын жартылай дөңгелек айдары болады. Оны асыл тас,<br>
            алтын, күміс, меруерт, маржанмен өрнектеп, алтын жіппен әшекейлейді. Сәукеленің төбесінің биіктігі екі <br>
            сүйем, кейде одан да биік болады. Сәукелені өлшеп пішіп алып, ішіне астар, сырт жағына бидай шүберек <br>
            ұстап жиі етіп сыриды. Одан соң оның сыртын қамқа, дүрия, торғын сияқты асыл матамен тыстайды. Сәукелені <br>
            әшекейлеу үшін оның тысының сыртынан зер жіптен тоқылған оқаларды белдеулен басады. Оның етегін мақпалмен <br>
            не қара барқытпен әдіптел көмкереді. Ал маңдай тұсына зер не жібек шашақтың шоңғарын тағады. шашақтың <br>
            сәукелеге жалғасқан тұсын асыл тастан көз орнатқан алтын, күміс түйреуіштермен бекітеді. Сәукеленің ең <br>
            сыртынан шашақты, әшекейлі жібек матамен төгілтіп жауып қояды. Ол көйлектің етегі сияқты жерге сүйретіліп <br>
            жүреді. Сәукелеге ұзын құлақбау тағады. Оны шегі шырайналдыра зер не жібек жіппен шалып көмкеріледі, түбіне <br>
            сәнді түйреуіш түйреледі.Қазіргі кезде де кейбір жерлерде қалыңдықтың басына сәукеле кигізіледі</p>
    </div>
    <br>
    <div class="takia">
        <h3 class="tak">Қамқа</h3>

        <p> Сыртқы жағын торғын, дүрия және қамқа секілді қымбат маталармен тыстайды. Сәукелені әшекейлеп <br>
            сәндеу үшін оның түрлі түсті маталардан жасалған тысының сыртынан зерлі жіптерден тоқылған оқалар <br>
            басылады.  Олар белдеулеп айналдыра басылады. Сәукеленің етек жағы мақпал мата не болмаса қара <br>
            барқытпен көмкеріліп, әдіптеледі. Сол секілді маңдай тұсына да зер немесе жібек шашақ шоқтары қосылып <br>
            тігіледі. Зерлі шашақтардың сәукелеге ұласатын тұсына асыл тастардың бірінен көз орнатылады.  Ол <br>
            алтын немесе күміс түйреуіштермен бекітіледі. Сәукеленің сыртынан зерлі шашақты, ерекше әшекейленіп <br>
            тігілген жібек мата жабылады. Ол сәукелені түгелдей жауып төгіліп тұруы тиіс. Ол кәдімгі көйлектің <br>
            етегі секілді жер соғып сүйретіліп тұрса да жарасымды көрінеді. Айтпақшы шеберлер сәукелеге қосымша <br>
            ұзын етіп құлақбау тағып жатады. Оның шет-шеті де шыр айналдырыла зерлі жібек жіптермен жалғанып <br>
            көмкеріледі. Түп жағына сәнді түйреуіштер түйреледі. Қазіргі кездерде кейбір өңірлерде жаңа ұзатылып <br>
            бара жатқан қалыңдықтың басына сәукеле емес желек немес ақ орамал жабатын салт бар.
          </p>
         <img src="https://avatars.mds.yandex.net/i?id=1c804b7ae230c9c157ffa8519af5cd30-5644585-images-thumbs&n=13" alt="">
        <img src="https://avatars.mds.yandex.net/i?id=a271e5ad9a5e412cae31012c17b34575-4079348-images-thumbs&n=13" alt="">
    </div>
    <br>

    <div class="borik">
        <h3>Камзол</h3>
        <img src="https://avatars.mds.yandex.net/i?id=4f48285a588dd8c46dce908dadf0f581-5311685-images-thumbs&n=13" alt="">
        <img src="https://avatars.mds.yandex.net/i?id=2a0000017a02ba32e82b2338be4bee657e13-4884912-images-thumbs&n=13" alt="">
        <p>
            Камзол, қамзол – жеңсіз, жеңіл киім. Бір түсті қалың матадан, мақпалдан, жібектен, барқыттан, кейде <br>
            гүлді мақпалдан, атластан (жас ерекшелігіне қарай) тігіледі. Камзолдың екі өңіріне кесте тігіліп, <br>
            ою-өрнек салынады, түйме орнына әшекейлі металл, яғни күміс қапсырмалар тағылады. Камзолдың жүн тартылып,<br>
            аң терісінен қос астарланып тігілетін түрлері де болады. Негізінен, бір түсті қоңыр матадан, ал жастарға <br>
            ашық түсті, жолақ немесе түрлі түсті матадан тігеді. Етегі, әдетте, кең болып келеді. Камзол алдынан <br>
            түймеленеді. Ер адамдар киетін Камерундың көбісі безендірілмеген. Камерун – үйде киетін киім. Үйден <br>
            аттанар кезінде ер адам оның сыртынан басқа киімін киеді. Камерун – 18 – 19 ғасырларда қазақ халқы арасында <br>
            кең тараған ұлттық киім. Камзол киімі туралы мәліметтер 19 ғасырдың ортасынан бастап кездеседі. Қазақстанның <br>
            әр облыстарында әр түрлі аталады. Көбінесе пешпент немесе камзол дейді.
        </p>
    </div>
    <br>
    <div class="kalpak">
        <h3 class="tak">Қасаба</h3>
        <p> Қасаба–қазақ қыз-келіншектері киетін бас киім. Қасаба күрең немесе көгілдір түсті жібек, ши барқыт, пүліш, <br>
            дүрия, шұға, парша секілді маталардан тігіледі. Сұлбасы дөңгелек етіп тақияға ұқсастырып пішіледі де, артқы <br>
            жағына немесе желкесіне қарай бірте-бірте ойытқи түскен қүламасы болады, оның ұшы әйелдің арқасына қарай <br>
            төгіліп жатады. Айдыны зерлі жіптермен кестеленіп, қиылысқан жерін алтын жолақпен жауып, зерлі өшекеймен <br>
            безендіреді. Құламасына шашақтар тағылады. Қасабыны көбінесе жас келіндерге арнай тіққен. Қасабаның маңдай <br>
            тұсына түрлі қымбат тастармен (перуза, ақық, лағыл, т.б.) тізілген дөңгелек табақшалармен бекітілген қыстырма <br>
            ілінеді. Ал, самай тұсына тұралап, ұғаынырак күміс қоңыраушалармен ұшталған 5-6 тізбек салпыншақ қыстырылады. <br>
            Көне түркі бас киіміне, әсіресе, қыпшақ тайпасының киіміне ұқсас. Қазіргі түркі халықтары мен оған жапсарлас <br>
            парсы, ауған халықтарының кейбірінде әлі күнге дейін сақталған. Этнограф Өзбекәлі Жәнібековтің айтуынша, "қасаба" <br>
            деген сөз "алтын зерлі" деген мағынаны білдіреді. Қасабаны көбіне төре, сұлтандардың қыздары киеді. Кейде хан<br>
            -сұлтандардың жұбайы да киген көрінеді. Мәселен Жәңгір ханның жары Фатима осы қасабаның бір түрін киген екен. <br>
            Қасабаның осы түрі кейін Алматы қаласында фабрикада өндірілген. Оған қолғабыс еткен – Өзбекәлі Жәнібековтің өзі.
        </p>
        <img src="https://avatars.mds.yandex.net/i?id=b4391f9a07c284135769cba30e046fb9-5210456-images-thumbs&n=13" alt="">
        <img src="https://avatars.mds.yandex.net/i?id=0291a1a3e3903ccd1df625c7e915a36b-5232990-images-thumbs&n=13" alt="">
    </div>
</div>

s
{% endblock %}